<div data-controller="responses">
  <%= form_with(model: response, class: "contents") do |form| %>
    <% if response.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

        <ul>
          <% response.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :message %>
      <%= form.text_area :message, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: {"responses-target":"replace"} %>
    </div>

    <%= form.hidden_field :survey_id, :value => response.survey_id %>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <p class="mt-8">
    Try anonymizing your message:
  </p>

  <%= form_with url: sanitize_message_new_response_path, remote: true, data: { turbo_frame: "response_text" } do |form|%>
    <%= form.text_area :message, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <div class="my-5">
      <%= form.submit "Sanitize Message", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"  %>
    </div>
  <% end %>

  <%= turbo_frame_tag "response_text" do %>
    <%= render 'response_text', message: nil %>
  <% end %>
</div>
